<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dprk.infokids51">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity" />
        <activity android:name=".PartActivity" />
        <activity android:name=".kirovsk.KirovskOtherActivity" />
        <activity android:name=".kirovsk.KirovskFotoVideoActivity" />
        <activity android:name=".kirovsk.celebration.KirovskCelebrationOtherActivity" />
        <activity android:name=".kirovsk.celebration.KirovskCelebrationAnimatorActivity" />
        <activity android:name=".kirovsk.celebration.KirovskCelebrationBallsActivity" />
        <activity android:name=".kirovsk.celebration.KirovskCelebrationCakesActivity" />
        <activity android:name=".kirovsk.KirovskCelebrationActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbyLanguageActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbyChoreographyActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbyTechnicalActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbySportActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbyDevelompentCentreActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbyCiprActivity" />
        <activity android:name=".kirovsk.KirovskHobbyActivity" />
        <activity android:name=".kirovsk.shop.KirovskShopToysActivity" />
        <activity android:name=".kirovsk.shop.KirovskShopHandMadeActivity" />
        <activity android:name=".kirovsk.shop.KirovskShopShoesActivity" />
        <activity android:name=".kirovsk.shop.KirovskShopProductForKidsActivity" />
        <activity android:name=".kirovsk.KirovskShopActivity" />
        <activity android:name=".kirovsk.relaxation.KirovskRelaxationSportActivity" />
        <activity android:name=".kirovsk.relaxation.KirovskRelaxationGamePlaceActivity" />
        <activity android:name=".kirovsk.KirovskRelaxationActivity" />
        <activity android:name=".kirovsk.medical.KirovskMedicalHospitalActivity" />
        <activity android:name=".kirovsk.medical.KirovskMedicalLogopedActivity" />
        <activity android:name=".kirovsk.medical.KirovskMedicalMassageActivity" />
        <activity android:name=".kirovsk.medical.KirovskMedicalDoctorsActivity" />
        <activity android:name=".kirovsk.KirovskMedicalActivity" />
        <activity android:name=".kirovsk.KirovskSectionActivity" />
        <activity android:name=".MainRazdelActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>