<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dprk.infokids51">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity"></activity>
        <activity android:name=".apatiti.shop.ApatitiShopHandMadeActivity" />
        <activity android:name=".apatiti.shop.ApatitiShopToysActivity" />
        <activity android:name=".apatiti.shop.ApatitiShopShoesActivity" />
        <activity android:name=".apatiti.shop.ApatitiShopClothesActivity" />
        <activity android:name=".apatiti.shop.ApatitiShopProductForKidsActivity" />
        <activity android:name=".apatiti.ApatitiShopActivity" />
        <activity android:name=".apatiti.relaxation.ApatitiRelaxationKidsOrganizationActivity" />
        <activity android:name=".apatiti.relaxation.ApatitiRelaxationCafeActivity" />
        <activity android:name=".apatiti.relaxation.ApatitiRelaxationSportActivity" />
        <activity android:name=".apatiti.relaxation.ApatitiRelaxationGameCentreActivity" />
        <activity android:name=".apatiti.ApatitiRelaxationActivity" />
        <activity android:name=".apatiti.medical.ApatitiMedicalHospitalActivity" />
        <activity android:name=".apatiti.medical.ApatitiMedicalPrivateHospitalActivity" />
        <activity android:name=".apatiti.medical.ApatitiMedicalSanativeActivity" />
        <activity android:name=".apatiti.medical.ApatitiMedicalPsihologiActivity" />
        <activity android:name=".apatiti.medical.ApatitiMedicalLogopedActivity" />
        <activity android:name=".apatiti.medical.ApatitiMedicalMassageActivity" />
        <activity android:name=".apatiti.medical.ApatitiMedicalDoctorActivity" />
        <activity android:name=".apatiti.ApatitiMedicalActivity" />
        <activity android:name=".apatiti.ApatitiFotoVideoActivity" />
        <activity android:name=".apatiti.other.ApatitiOtherNanniesActivity" />
        <activity android:name=".apatiti.other.ApatitiOtherHireActivity" />
        <activity android:name=".apatiti.ApatitiOtherActivity" />
        <activity android:name=".kirovsk.KirovskOtherActivity" />
        <activity android:name=".kirovsk.KirovskFotoVideoActivity" />
        <activity android:name=".kirovsk.celebration.KirovskCelebrationOtherActivity" />
        <activity android:name=".kirovsk.celebration.KirovskCelebrationAnimatorActivity" />
        <activity android:name=".kirovsk.celebration.KirovskCelebrationBallsActivity" />
        <activity android:name=".kirovsk.celebration.KirovskCelebrationCakesActivity" />
        <activity android:name=".kirovsk.KirovskCelebrationActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbyLanguageActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbyChoreographyActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbyTechnicalActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbySportActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbyDevelompentCentreActivity" />
        <activity android:name=".kirovsk.hobby.KirovskHobbyCiprActivity" />
        <activity android:name=".kirovsk.KirovskHobbyActivity" />
        <activity android:name=".kirovsk.shop.KirovskShopToysActivity" />
        <activity android:name=".kirovsk.shop.KirovskShopHandMadeActivity" />
        <activity android:name=".kirovsk.shop.KirovskShopShoesActivity" />
        <activity android:name=".kirovsk.shop.KirovskShopProductForKidsActivity" />
        <activity android:name=".kirovsk.KirovskShopActivity" />
        <activity android:name=".kirovsk.relaxation.KirovskRelaxationSportActivity" />
        <activity android:name=".kirovsk.relaxation.KirovskRelaxationGamePlaceActivity" />
        <activity android:name=".kirovsk.KirovskRelaxationActivity" />
        <activity android:name=".kirovsk.medical.KirovskMedicalHospitalActivity" />
        <activity android:name=".kirovsk.medical.KirovskMedicalLogopedActivity" />
        <activity android:name=".kirovsk.medical.KirovskMedicalMassageActivity" />
        <activity android:name=".kirovsk.medical.KirovskMedicalDoctorsActivity" />
        <activity android:name=".kirovsk.KirovskMedicalActivity" />
        <activity android:name=".zori.ZoriOtherActivity" />
        <activity android:name=".zori.ZoriFotoVideoActivity" />
        <activity android:name=".zori.celebration.ZoriCelebrationOtherActivity" />
        <activity android:name=".zori.celebration.ZoriCelebrationAnimatorActivity" />
        <activity android:name=".zori.celebration.ZoriCelebrationBallsActivity" />
        <activity android:name=".zori.celebration.ZoriCelebrationCakesActivity" />
        <activity android:name=".zori.ZoriCelebrationActivity" />
        <activity android:name=".zori.hobby.ZoriHobbyLanguageActivity" />
        <activity android:name=".zori.hobby.ZoriHobbyTheatreActivity" />
        <activity android:name=".zori.hobby.ZoriHobbyMusicVocalActivity" />
        <activity android:name=".zori.hobby.ZoriHobbyTechnicalActivity" />
        <activity android:name=".zori.hobby.ZoriHobbySportActivity" />
        <activity android:name=".zori.hobby.ZoriHobbyTutorsActivity" />
        <activity android:name=".zori.hobby.ZoriHobbyDevelopmentCentreActivity" />
        <activity android:name=".zori.hobby.ZoriHobbyCiprActivity" />
        <activity android:name=".zori.ZoriHobbyActivity" />
        <activity android:name=".zori.shop.ZoriShopHandMadeActivity" />
        <activity android:name=".zori.shop.ZoriShopToysActivity" />
        <activity android:name=".zori.shop.ZoriShopProductForKidsActivity" />
        <activity android:name=".zori.ZoriShopActivity" />
        <activity android:name=".zori.relaxation.ZoriRelaxationOtherActivity" />
        <activity android:name=".zori.relaxation.ZoriRelaxationCafeActivity" />
        <activity android:name=".zori.relaxation.ZoriRelaxationSportActivity" />
        <activity android:name=".zori.ZoriRelaxationActivity" />
        <activity android:name=".zori.medical.ZoriMedicalHospitalActivity" />
        <activity android:name=".zori.medical.ZoriMedicalPsihologiActivity" />
        <activity android:name=".zori.medical.ZoriMedicalMassageActivity" />
        <activity android:name=".zori.ZoriMedicalActivity" />
        <activity android:name=".kandalaksha.KandalakshaFotoVideoActivity" />
        <activity android:name=".kandalaksha.celebration.KandalakshaCelebrationOtherActivity" />
        <activity android:name=".kandalaksha.celebration.KandalakshaCelebrationAnimatorActivity" />
        <activity android:name=".kandalaksha.celebration.KandalakshaCelebrationBallsActivity" />
        <activity android:name=".kandalaksha.celebration.KandalakshaCelebrationCakesActivity" />
        <activity android:name=".kandalaksha.KandalakshaCelebrationActivity" />
        <activity android:name=".kandalaksha.hobby.KandalakshaHobbyArtWorkActivity" />
        <activity android:name=".kandalaksha.hobby.KandalakshaHobbyMusicVocalActivity" />
        <activity android:name=".kandalaksha.hobby.KandalakshaHobbyChoreographyActivity" />
        <activity android:name=".kandalaksha.hobby.KandalakshaHobbySportActivity" />
        <activity android:name=".kandalaksha.hobby.KandalakshaHobbyDevelopmentCentreActivity" />
        <activity android:name=".kandalaksha.hobby.KandalakshaHobbyCiprActivity" />
        <activity android:name=".kandalaksha.KandalakshaHobbyActivity" />
        <activity android:name=".kandalaksha.shop.KandalakshaShopHandMadeActivity" />
        <activity android:name=".kandalaksha.shop.KandalakshaShopToysActivity" />
        <activity android:name=".kandalaksha.shop.KandalakshaShopClothesActivity" />
        <activity android:name=".kandalaksha.shop.KandalakshaShopProductForKidsActivity" />
        <activity android:name=".kandalaksha.KandalakshaShopActivity" />
        <activity android:name=".kandalaksha.relaxation.KandalakshaRelaxationOtherActivity" />
        <activity android:name=".kandalaksha.relaxation.KandalakshaRelaxationGamePlaceActivity" />
        <activity android:name=".kandalaksha.relaxation.KandalakshaRelaxationKidsOrganizationActivity" />
        <activity android:name=".kandalaksha.relaxation.KandalakshaRelaxationCafeActivity" />
        <activity android:name=".kandalaksha.relaxation.KandalakshaRelaxationSportActivity" />
        <activity android:name=".kandalaksha.KandalakshaRelaxationActivity" />
        <activity android:name=".kandalaksha.medical.KandalakshaMedicalMassageActivity" />
        <activity android:name=".kandalaksha.medical.KandalakshaMedicalDoctorsActivity" />
        <activity android:name=".kandalaksha.medical.KandalakshaMedicalHospitalActivity" />
        <activity android:name=".kandalaksha.KandalakshaMedicalActivity" />
        <activity android:name=".monchegorsk.MonchegorskOtherActivity" />
        <activity android:name=".monchegorsk.MonchegorskFotoVideoActivity" />
        <activity android:name=".monchegorsk.celebration.MonchegorskCelebrationOtherActivity" />
        <activity android:name=".monchegorsk.celebration.MonchegorskCelebrationAnimatorActivity" />
        <activity android:name=".monchegorsk.celebration.MonchegorskCelebrationBallsActivity" />
        <activity android:name=".monchegorsk.celebration.MonchegorskCelebrationCakesActivity" />
        <activity android:name=".monchegorsk.MonchegorskCelebrationActivity" />
        <activity android:name=".monchegorsk.hobby.MonchegorskHobbyLanguagesActivity" />
        <activity android:name=".monchegorsk.hobby.MonchegorskHobbyMusicVocalActivity" />
        <activity android:name=".monchegorsk.hobby.MonchegorskHobbyChoreographyActivity" />
        <activity android:name=".monchegorsk.hobby.MonchegorskHobbyTechnicalActivity" />
        <activity android:name=".monchegorsk.hobby.MonchegorskHobbySportActivity" />
        <activity android:name=".monchegorsk.hobby.MonchegorskHobbyTutorsActivity" />
        <activity android:name=".monchegorsk.hobby.MonchegorskHobbyDevelopmentCentreActivity" />
        <activity android:name=".monchegorsk.hobby.MonchegorskHobbyCiprActivity" />
        <activity android:name=".monchegorsk.MonchegorskHobbyActivity" />
        <activity android:name=".monchegorsk.shop.MonchegorskShopProductForKidsActivity" />
        <activity android:name=".monchegorsk.shop.MonchegorskShopClothesActivity" />
        <activity android:name=".monchegorsk.shop.MonchegorskShopHandMadeActivity" />
        <activity android:name=".monchegorsk.shop.MonchegorskShopShoesActivity" />
        <activity android:name=".monchegorsk.MonchegorskShopActivity" />
        <activity android:name=".monchegorsk.relaxation.MonchegorskRelaxationOtherActivity" />
        <activity android:name=".monchegorsk.relaxation.MonchegorskRelaxationCafeActivity" />
        <activity android:name=".monchegorsk.relaxation.MonchegorskRelaxationGamePlaceActivity" />
        <activity android:name=".monchegorsk.relaxation.MonchegorskRelaxationSportActivity" />
        <activity android:name=".monchegorsk.MonchegorskRelaxationActivity" />
        <activity android:name=".monchegorsk.medical.MonchegorskMedicalPsihologiActivity" />
        <activity android:name=".monchegorsk.medical.MonchegorskMedicalLogopedActivity" />
        <activity android:name=".monchegorsk.medical.MonchegorskMedicalMassageActivity" />
        <activity android:name=".monchegorsk.medical.MonchegorskMedicalHospitalActivity" />
        <activity android:name=".monchegorsk.MonchegorskMedicalActivity" />
        <activity android:name=".olenegorsk.OlenegorskFotoVideoActivity" />
        <activity android:name=".olenegorsk.celebration.OlenegorskCelebrationOtherActivity" />
        <activity android:name=".olenegorsk.celebration.OlenegorskCelebrationBallsActivity" />
        <activity android:name=".olenegorsk.celebration.OlenegorskCelebrationCakesActivity" />
        <activity android:name=".olenegorsk.celebration.OlenegorskCelebrationAnimatorActivity" />
        <activity android:name=".olenegorsk.OlenegorskCelebrationActivity" />
        <activity android:name=".olenegorsk.hobby.OlenegorskHobbySportsSectionActivity" />
        <activity android:name=".olenegorsk.hobby.OlenegorskHobbyChoreographyActivity" />
        <activity android:name=".olenegorsk.hobby.OlenegorskHobbyCenterOfDevelopmentActivity" />
        <activity android:name=".olenegorsk.hobby.OlenegorskHobbyCiprActivity" />
        <activity android:name=".olenegorsk.OlenegorskHobbyActivity" />
        <activity android:name=".olenegorsk.shop.OlenegorskShopHandMadeActivity" />
        <activity android:name=".olenegorsk.shop.OlenegorskShopToysActivity" />
        <activity android:name=".olenegorsk.shop.OlenegorskShopClothesActivity" />
        <activity android:name=".olenegorsk.shop.OlenegorskShopProductForKidsActivity" />
        <activity android:name=".olenegorsk.OlenegorskShopActivity" />
        <activity android:name=".olenegorsk.relaxtion.OlenegorskRelaxationOtherActivity" />
        <activity android:name=".olenegorsk.relaxtion.OlenegorskRelaxationKidsOrganizationActivity" />
        <activity android:name=".olenegorsk.relaxtion.OlenegorskRelaxationCafeActivity" />
        <activity android:name=".olenegorsk.relaxtion.OlenegorskRelaxationGamePlaceActivity" />
        <activity android:name=".olenegorsk.OlenegorskRalaxationActivity" />
        <activity android:name=".olenegorsk.OlenegorskMedicalActivity" />
        <activity android:name=".severomorsk.SeveromorskOtherActivity" />
        <activity android:name=".severomorsk.other.SeveromorskOtherNanniesPrivateKindergartensActivity" />
        <activity android:name=".severomorsk.other.SeveromorskOtherHireActivity" />
        <activity android:name=".severomorsk.SeveromorskFotoVideoActivity" />
        <activity android:name=".severomorsk.celebration.SeveromorskCelebrationOtherActivity" />
        <activity android:name=".severomorsk.celebration.SeveromorskCelebrationCakesActivity" />
        <activity android:name=".severomorsk.celebration.SeveromorskCelebrationBallsActivity" />
        <activity android:name=".severomorsk.celebration.SeveromorskCelebrationAnimatorActivity" />
        <activity android:name=".severomorsk.SeveromorskCelebrationActivity" />
        <activity android:name=".severomorsk.hobby.SeveromorskHobbyLanguagesActivity" />
        <activity android:name=".severomorsk.hobby.SeveromorskHobbyChoreographyActivity" />
        <activity android:name=".severomorsk.hobby.SeveromorskHobbyTechnicalActivity" />
        <activity android:name=".severomorsk.hobby.SeveromorskHobbySportSectionActivity" />
        <activity android:name=".severomorsk.hobby.SeveromorskHobbyTutorsActivity" />
        <activity android:name=".severomorsk.hobby.SeveromorskHobbyDevelopmentCentreActivity" />
        <activity android:name=".severomorsk.SeveromorskHobbyActivity" />
        <activity android:name=".severomorsk.hobby.SeveromorskHobbyCiprActivity" />
        <activity android:name=".severomorsk.shop.SeveromorskShopHandMadeActivity" />
        <activity android:name=".severomorsk.shop.SeveromorskShopToysActivity" />
        <activity android:name=".severomorsk.shop.SeveromorskShopClothesActivity" />
        <activity android:name=".severomorsk.shop.SeveromorskShopProductForKidsActivity" />
        <activity android:name=".severomorsk.SeveromorskShopActivity" />
        <activity android:name=".severomorsk.relaxtion.SeveromorskRelaxtionKidsOrganizationActivity" />
        <activity android:name=".severomorsk.relaxtion.SeveromorskRelaxtionSportActivity" />
        <activity android:name=".severomorsk.relaxtion.SeveromorskRelaxtionGamePlaceActivity" />
        <activity android:name=".severomorsk.SeveromorskRelaxtionActivity" />
        <activity android:name=".severomorsk.medical.SeveromorskMedicalHospitalActivity" />
        <activity android:name=".severomorsk.medical.SeveromorskMedicalPsihologiActivity" />
        <activity android:name=".severomorsk.medical.SeveromorskMedicalLogopedActivity" />
        <activity android:name=".severomorsk.medical.SeveromorskMedicalMassageActivity" />
        <activity android:name=".severomorsk.medical.SeveromorskMedicalDoctorsActivity" />
        <activity android:name=".severomorsk.SeveromorskMedicalActivity" />
        <activity android:name=".murmansk.other.MurmanskOtherNanniesPrivateKindergartensActivity" />
        <activity android:name=".murmansk.other.MurmanskOtherHireActivity" />
        <activity android:name=".murmansk.celebration.MurmanskCelebrationOtherActivity" />
        <activity android:name=".murmansk.celebration.MurmanskCelebrationAnimatorActivity" />
        <activity android:name=".murmansk.celebration.MurmanskCelebrationBallsActivity" />
        <activity android:name=".murmansk.celebration.MurmanskCelebrationCakesActivity" />
        <activity android:name=".murmansk.hobby.MurmanskHobbySportsSectionActivity" />
        <activity android:name=".murmansk.hobby.MurmanskHobbyArtWorkActivity" />
        <activity android:name=".murmansk.hobby.MurmanskHobbyLanguagesActivity" />
        <activity android:name=".murmansk.hobby.MurmanskHobbyMusicVocalActivity" />
        <activity android:name=".murmansk.hobby.MurmanskHobbyChoreographyActivity" />
        <activity android:name=".murmansk.hobby.MurmanskHobbyTechActivity" />
        <activity android:name=".murmansk.hobby.MurmanskHobbyDecorativeAppliedActivity" />
        <activity android:name=".murmansk.hobby.MurmanskHobbyTutorsActivity" />
        <activity android:name=".murmansk.hobby.MurmanskHobbyDevelopmentCentreActivity" />
        <activity android:name=".murmansk.hobby.MurmanskHobbyCiprActivity" />
        <activity android:name=".murmansk.shop.MurmanskShopHandMadeActivity" />
        <activity android:name=".murmansk.shop.MurmanskShopToysActivity" />
        <activity android:name=".murmansk.shop.MurmanskShopShoesActivity" />
        <activity android:name=".murmansk.shop.MurmanskClothesForKidsActivity" />
        <activity android:name=".murmansk.shop.MurmanskProductsForKidsActivity" />
        <activity android:name=".murmansk.MurmanskOtherActivity" />
        <activity android:name=".murmansk.MurmanskHobbyActivity" />
        <activity android:name=".murmansk.MurmanskFotoVideoActivity" />
        <activity android:name=".murmansk.MurmanskCelebrationActivity" />
        <activity android:name=".murmansk.MurmanskShopActivity" />
        <activity android:name=".murmansk.relaxation.MurmanskOtherRelaxationActivity" />
        <activity android:name=".murmansk.relaxation.MurmanskCultureActivity" />
        <activity android:name=".murmansk.relaxation.MurmanskZooActivity" />
        <activity android:name=".murmansk.relaxation.MurmanskKidsOrganizationActivity" />
        <activity android:name=".murmansk.relaxation.MurmanskIntellectGameActivity" />
        <activity android:name=".murmansk.relaxation.MurmanskAntiCafeActivity" />
        <activity android:name=".murmansk.relaxation.MurmanskSportActivity" />
        <activity android:name=".murmansk.relaxation.MurmanskQuestActivity" />
        <activity android:name=".murmansk.MurmanskRelaxionActivity" />
        <activity android:name=".murmansk.relaxation.MurmanskGamePlaceActivity" />
        <activity android:name=".murmansk.medical.MurmanskLorActivity" />
        <activity android:name=".murmansk.medical.MurmanskPrivateHospitalActivity" />
        <activity android:name=".murmansk.medical.MurmanskRodiActivity" />
        <activity android:name=".murmansk.medical.MurmanskHospitalActivity" />
        <activity android:name=".murmansk.medical.MurmanskGrudnActivity" />
        <activity android:name=".murmansk.medical.MurmanskPsihologiActivity" />
        <activity android:name=".murmansk.medical.MurmanskLogopedActivity" />
        <activity android:name=".murmansk.medical.MurmanskMassagActivity" />
        <activity android:name=".murmansk.medical.MurmanskNevrologActivity" />
        <activity android:name=".murmansk.medical.MurmanskPediatorActivity" />
        <activity android:name=".zori.ZoriSectionActivity" />
        <activity android:name=".severomorsk.SeveromorskSectionActivity" />
        <activity android:name=".olenegorsk.OlenegorskSectionActivity" />
        <activity android:name=".monchegorsk.MonchegorskSectionActivity" />
        <activity android:name=".kirovsk.KirovskSectionActivity" />
        <activity android:name=".kandalaksha.KandalakshaSectionActivity" />
        <activity android:name=".apatiti.ApatitiSectionActivity" />
        <activity android:name=".murmansk.MurmanskMedicalActivity" />
        <activity android:name=".murmansk.MurmanskSectionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".apatiti.ApatitiCelebrationActivity" />
        <activity android:name=".apatiti.celebration.ApatitiCelebrationCakesActivity" />
        <activity android:name=".apatiti.celebration.ApatitiCelebrationBallsActivity" />
        <activity android:name=".apatiti.celebration.ApatitiCelebrationAnimatorActivity" />
        <activity android:name=".apatiti.celebration.ApatitiCelebrationOtherActivity" />
        <activity android:name=".apatiti.hobby.ApatitiHobbyCiprActivity" />
        <activity android:name=".apatiti.ApatitiHobbyActivity" />
        <activity android:name=".apatiti.hobby.ApatitiHobbyDevelopmentCentreActivity" />
        <activity android:name=".apatiti.hobby.ApatitiHobbyTutorsActivity" />
        <activity android:name=".apatiti.hobby.ApatitiHobbySportsSectionActivity" />
        <activity android:name=".apatiti.hobby.ApatitiHobbyDecorativeAppliedActivity" />
        <activity android:name=".apatiti.hobby.ApatitiHobbyTechActivity" />
        <activity android:name=".apatiti.hobby.ApatitiHobbyChoreographyActivity" />
        <activity android:name=".apatiti.hobby.ApatitiHobbyArtWorkActivity" />
        <activity android:name=".apatiti.hobby.ApatitiHobbyLanguagesActivity" />
    </application>

</manifest>